/* +++ COMMONS +++ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.clearfix::after{
    clear:both;
    content: "";
    display: table;
}

.right{
    float: right;
}
/* --- /COMMONS --- */



/* +++ HEADER +++ */
.box-nav{
    /* proprietà */
    height: 100px;
    width: 100vw;
    line-height: 100px;

    /* posizione */
    position: fixed;
    z-index: 1;
}

.box-pulsanti{
    /* posizione */
    margin-right: 40px;
}

header ul li{
    /* posizione */
    display: inline-block;
    margin-left: 20px;
}

header ul li a{
    /* proprietà */
    display: inline-block; /*per poter modificare le proprietà di <a>*/
    height: 50px;
    width: 50px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    background-color: lightgray;
    border-radius: 50%;

    /* posizione */
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}
/* --- /HEADER --- */



/* +++ MAIN +++ */
.box-page{
    /* proprietà */
    width: 100vw;
    height: 100vh;

    /* posizione */
    position: relative;
}

.box-card{
    /* proprietà */
    width: 50%;
    text-align: center;

    /* posizione */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#shoes-1{
    background-color: red;
}

#shoes-2{
    background-color: green;
}

#shoes-3{
    background-color: yellow;
}

.testo{
    /* proprietà */
    width: 80%;
    text-transform: uppercase;
    color: yellow;
    font-size: 60px;
    font-weight: 800;
    text-align: center;

    /* posizione */
    margin: auto;
}

#shoes-3 .testo{
    color: green;
}
/* --- /MAIN --- */



/* +++ DEBUG +++ */

/* 
.debug .box-nav{
    background-color: pink;
}

.debug .box-pulsanti{
    background-color: lightskyblue;
}

.debug .box-card{
    background-color: rgba(144, 102, 102, 0.514);
}

.debug .box-card .box-img{
    border: 2px solid black;
}

.debug .box-card img{
    border: 2px solid pink;
}

.debug .box-card .testo{
    border: 2px solid violet;
} 
*/

/* --- /DEBUG --- */