/* +++ COMMONS +++ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.clearfix::after{
    clear:both;
    content: "";
    display: table;
}

.right{
    float: right;
}
/* --- /COMMONS --- */



/* +++ HEADER +++ */
.box-nav{
    /* proprietà */
    height: 100px;
    width: 100vw;
    /* posizione */
    line-height: 100px;
    position: fixed;
}

.box-pulsanti{
    /* posizione */
    position: absolute;
    right: 20px;
}

header ul li{
    /* posizione */
    display: inline-block;
    margin-left: 20px;
}

header ul li a{
    /* proprietà */
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block; /*per poter modificare le proprietà di <a>*/
    height: 50px;
    width: 50px;
    background-color: lightgray;
    border-radius: 50%;

    /* posizione */
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}
/* --- /HEADER --- */



/* +++ MAIN +++ */

/* --- /MAIN --- */



/* +++ DEBUG +++ */
.debug .box-nav{
    background-color: pink;
}

.debug .box-pulsanti{
    background-color: lightskyblue;
}


/* --- /DEBUG --- */